html, body {
    height: 100%;
    margin: 0;
}

header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

header div {
    transform: translateY(5px);
    width: 45px;
    height: 40px;
    background-image: url(resources/images/placeholder.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-1 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.content-1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-1 form {

    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;

}

.form-content {
    margin-top: 50px;
    background-color: lightgray;
    border-radius: 8px;
    padding: 25px;
}

.form-content a {
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
}
