.flexbox_container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
#postform{
    
    justify-items: center;
    background-color: lightgray;
}
#submitbutton{
    background-color: blue;
    color: white;
    border-color: transparent;
    border-radius: 5%;
}

#selectfile{
    background-color: gray;
    color: white;
}